<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <app-wp-small-box nameWidgetInst="wpsb-new-order"></app-wp-small-box>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <app-wp-small-box nameWidgetInst="wpsb-bounce-rate"></app-wp-small-box>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <app-wp-small-box nameWidgetInst="wpsb-user-registrations"></app-wp-small-box>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <app-wp-small-box nameWidgetInst="wpsb-unique-visitors"></app-wp-small-box>
  </div>
  <!-- ./col -->
</div>
