<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <app-sidebar-user-panel></app-sidebar-user-panel>
    <!-- search form -->
    <app-sidebar-search-form></app-sidebar-search-form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <app-sidebar-menu></app-sidebar-menu>
  </section>
<!-- /.sidebar -->
</aside>
